@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));
@layer base {
  body {
    /* Default (Light Mode) mein white bg aur dark text */
    @apply bg-white text-slate-900 transition-colors duration-300;
  }

  /* Jab 'dark' class active ho tabhi black bg aur white text ho */
  .dark body {
   @apply bg-[#030712] text-slate-100;
  }
}

@keyframes shimmer {
  0% { background-position: -200% center; }
  100% { background-position: 200% center; }
}